---
layout: default
---
<div class="container shadow">
  <div class="row my-5">
    <div class="col">
      <h2 class="mb-4 mt-2 text-warning bg-dark py-2 pl-1">{{ page.title }}</h2>
      <p class="blog-post-meta font-italic">{{ page.date | date_to_string: "ordinal", "US" }}</p>
      <p class="blog-post-meta"><span class="font-weight-bold">Topics: </span>
        {% for category in page.categories %}
          <a href="/topics.html#{{ category }}">{{ category | capitalize }}</a> /
        {% endfor %}
      </p>

      {{ content }}

    </div>
  </div>
</div>